
<nav>
  <a href="/">Scheduler</a>
  <a href="/logout">Logout</a>
</nav>
<br></br>
<h2>Your to-do list is a great place to keep track of un-timed tasks and chores.</h2>
  <br></br>
  <h1>Add a new task to your to-do list:</h1>
  <form action="/todos" method="post">
    <br></br>
    <input type="text" name="todo[name]" id="todo_name">
    <br></br>
    <% if flash.has?(:message) %>
    <p id="flash"><%= flash[:message] %></p>
    <% end %>
    <br></br>
    <input type="submit" name="submit" value="Add Task">
  </form>
