
<h1>Enter a new task:</h1>
<form action="/todos" method="post">
  <br></br>
  <input type="text" name="todo[name]" id="todo_name">
  <br></br>


  <input type="submit" name="submit" value="Create To-do list">

</form>
