
<nav>
  <a href="/">Scheduler</a>
  <a href="/logout">Logout</a>
</nav>
<br></br>
<h1>Add a new task to your to-do list:</h1>
<form action="/todos" method="post">
  <br></br>
  <input type="text" name="todo[name]" id="todo_name">
  <br></br>
  <h2>Your to-do list is a great place to keep track of un-timed tasks and chores.
  If you're happy with what's in your list, click submit- you'll be given the chance
  to add more and edit this entry on the next page.</h2>
  <br></br>
  <input type="submit" name="submit" value="Add Task">

</form>
