<h1>Edit your To Do List:</h1>
<br></br>
<form action="/todos" method="post">
  <h2>Select or Deselect from your present to-do list.<br></br>
    Checked entries will remain on your list and unchecked items will be removed.</h2>

  <% Todo.all.each do |todo| %>
  <li>
  <%= todo.name %>   <input type=“hidden” name=“_method” value=<%= todo.name %>></input></li>
  <% end %>
  <br></br>
  <h2>Or Create a New Entry for your To-Do List:</h2>
  <input type="text" name="todo[name]" id="todo_name"></input>
  <br></br>
  <input type="submit" name="submit" value="Submit Edits">
</form>
