<h1>Mark this task complete!</h1>
<br></br>
<body>
    <%= @todo.name %>
  </form>
  <form action="/todos/<%= @todo.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Mark Complete" id="delete">
  </form>
</body>
