<nav>
  <a href="/">Scheduler</a>
  <a href="/logout">Logout</a>
</nav>
<br></br>
<h1>Create a new Appointment:</h1>
<form action="/appointments" method="post">
  <input type="text" name="appointment[datetime]" value="datetime">
  <input type="text" name="appointment[content]" id="content">
  <br></br>
  <input type="submit" value="Submit" id="submit">
</form>
